body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,150,152,1) 50%, rgba(2,0,36,1) 100%);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main {
  background-color: rgb(229, 229, 229);
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 1rem;
  width: 100%; 
  max-width: 90vw; /* Adjust max-width for responsiveness */ 
  box-sizing: border-box;
}

.editField {

  border-radius: 5px;
  border: none;
  padding: 12px 0px 12px 5px;
  height: 10px;
  background-color: rgb(222, 222, 222);
  white-space: pre-wrap; 
  overflow-wrap: break-word;

}

/* Table responsiveness */
@media (max-width: 768px) { 
  .main {
    padding: 1rem; 
  }
  table {
    width: 100%;
    overflow-x: auto; 
  }
}

::-webkit-scrollbar {
  width: 10px; 
  height: 12px;
  padding:40px;
  
}


::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
 
}


::-webkit-scrollbar-thumb {
  background: #578E7E;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}